.chorme{
    width:10%;
    margin:10px;
    margin-right:10px ;
}
.gt1{
    .article-image {
        width: 35%;
        height: auto;
        float:left;
        margin-right: 15px;
    }
}
.gt2{
    .article-image {
        width: 35%;
        height: auto;
        float:left;
        margin-right: 15px;
    }
}